body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEexrwh3zJvZu9SgKdlgBcCcUVgAi8CRfaUw&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .right-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(180, 255, 255, 0.7);
    width: 100%;
    min-height: 100vh;
  }
  
  form {
    width: 100%;
    max-width: 600px;
  }
  
  table {
    width: 100%;
    text-align: left;
  }
  
  td {
    padding: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  