/*left 和right有測試用背景色，之後請關閉或是調整成白色


/* 容器 */
.container {
  display: grid;
  grid-template-rows: 100px 400px;
  grid-template-areas: 
  "area1 area1"
  "area2 area3"
  
  ;
}
.left{
  background-color: red;
  grid-area: area2;
  
}
.left-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;    
}
.right{
  background-color: aqua;
  grid-area: area3;
   
}
.right-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}
/* 圖片 */
.profile-image {
  width: 200px;
  height: 200px;
}

/* 個人資料 */
.profile-info {
  width: 100px;
  height: 30px;
  margin: 10px 0;
}

/* 按鈕 */
.button {
  width: 100px;
  height: 30px;
  margin: 10px 0;
}
