body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 500px;
  align-items: flex-start;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.image-link {
  width: 200px;
  height: 300px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
}

hr.horizontal {
  width: 100%;
  border: 1px solid black;
  margin: 0;
}
/* 這個是boder縮放的css */
.border-box {
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
  max-width: 200px;
}

.custom-button {
  width: 100px;
  height: 30px;
  background-image: url("button-image.jpg");
  background-size: cover;
  background-position: center;
  border: 3px solid yellow;
  cursor: pointer;
  margin-top: 20px;
}

.normal-content {
  padding: 20px;
}
/* 這裡開始是下方的css */
.tabs {
  display: flex;
}

.tab-button {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border: 1px solid #ccc;
}

.tab-content {
  padding: 20px;
}

.hide {
  display: none;
}
