body {
    font-family: Arial, sans-serif;
}
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.search-button {
    margin-left: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    cursor: pointer;
}

.image-container {
    width: 200px;
    height: 200px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.text-container p {
    text-align: center;
    margin: 0;
}
