


/* 容器 */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 左側部分 */
.left {
  width: calc(50% - 1fr);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1fr;
  margin-right: -0.5fr;
  transform: translateX(-200px)/*水平移動調整*/
}


/* 右側部分 */
.right {
  width: calc(50% - 1fr);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* 圖片 */
.profile-image {
  width: 200px;
  height: 200px;
}

/* 個人資料 */
.profile-info {
  width: 100px;
  height: 30px;
  margin: 10px 0;
}

/* 按鈕 */
.button {
  width: 100px;
  height: 30px;
  margin: 10px 0;
}
