<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>範例網站</title>
    <link rel="stylesheet" href="../static/book_display_search_styles.css">
    <script src="../static/book_display_search_script.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!--搜尋欄，有header後可替換-->
    <div class="search-container">
        <input type="text" placeholder="搜索..." name="search">
        <button class="search-button" name="searchButton">搜索</button>
    </div>
    <hr>

    <div class="grid-container">
        <!-- 內容生成 -->
            {% for book in datas %}
            <div class="grid-item">
                <div class="image-container">
                    <a href="/book_detail/{{ book['B_BookID'] }}" class="content">
                        <img src="../static/uploads/{{ book['B_BookPic'] }}" alt="圖片">
                    </a>
                </div>
                <div class="text-container">
                    <p>書名：{{ book['B_BookName'] }}</p>
                    <p>售價：NT$ {{ book['B_Price'] }}</p>
                </div>
            </div>
            {% endfor %}

    </div>
    <!-- 分頁 -->
    <div class="pagination-container">
        <button id="previousPage" disabled>上一頁</button>
        <span id="currentPage"></span>
        <button id="nextPage">下一頁</button>
        <button id="lastPage">尾頁</button>
    </div>

</body>
</html>
