<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/book_buy_styles.css">
  <script src="../static/book_buy_button_alert.js"></script>
  <title>購買物品詳細資訊</title>
</head>
<body>


  <h1 class="header">購買物品詳細資訊</h1>
  <div class="container"> 
    <div class="left">
      <div class="image-wrapper">
        <img class="image-link" src="https://imgur.dcard.tw/5uJ9HqAh.jpg" alt="圖片連結">
      </div>
    </div>
    <div class="right">
      <p>書名: <!--這邊替換位置-->{{ book['B_BookName'] }}</p>
      <p>$價格: <!--這邊替換位置-->{{ book['B_Price'] }}</p>
    </div>
  </div>
  <button class="purchase-btn" onclick="confirmPurchase()">確認購買</button>

</body>
</html>
