<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/user_information_styles.css">
  <title>個人資料頁面</title>
</head>
<body>
 
  {% block content %}<!--複製這行 header-->

    <div class="container">
      <div class="left">
        <a onclick="location.href='/'">[點此回首頁]</a><br><!--臨時用連結-->
        <img class="profile-image" src="../static/uploads/{{ account['A_image'] }}" alt="個人頭像">
        <p>{{ account['A_Nickname'] }} 您好！</p>
        <button class="button" onclick="location.href='/user_information_profile'">個人資料</button>
      </div>
      <div class="right">
        <button class="button" onclick="location.href='/user_information_orders'">查詢訂單</button>
        <button class="button">信用積分</button>
        <button class="button" onclick="location.href='/user_information_orders?tab=finished'">交易紀錄</button>
        <button class="button" onclick="location.href='/user_information_sellerpage'">我的賣場</button>
        <button class="button">問題回報</button>
        <button class="button">Q&A</button>
      </div>
    </div>

  {% endblock %}<!--複製這行 header-->
</body>
</html>
