<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>分隔線示例</title>
<link rel="stylesheet" href="../static/user_information_orders_styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../static/user_information_orders_script.js"></script>

<script>
    $(function() {
        // 绑定按钮的點擊事件
        $('#editBtn').click(toggleEditMode);
    });
</script>
</head>
<body>

    <div class="border outside">

        <div class="tabs">
            <button class="tab-button" data-target="ordered">已下單</button>
            <button class="tab-button" data-target="processing">進行中</button>
            <button class="tab-button" data-target="finished">已完成</button>
        </div>

        <div class="tab-content">

            <div id="ordered" class="content">
                <!--書籍篩選: 已下單-->
                {% for book in datas_ordered %}
                <div class="item">
                    <div class="image-change">
                        <img src="../static/uploads/{{ book['B_BookPic'] }}" alt="Image">
                    </div>
                    <p>書名：{{ book['B_BookName'] }}</p>
                    <p class="status">狀態：{{ book['B_SaleStatus'] }}</p>
                    <button class="button modify" onclick="location.href=''">完成訂單</button>
                    <button class="button remove">取消訂單</button>
                </div>
                {% endfor %}

            </div>

            <div id="processing" class="content">
                <!--書籍篩選: 進行中-->
                {% for book in datas_processing %}
                <div class="item">
                    <div class="image-change">
                        <img src="../static/uploads/{{ book['B_BookPic'] }}" alt="Image">
                    </div>
                    <p>書名：{{ book['B_BookName'] }}</p>
                    <p class="status">狀態：{{ book['B_SaleStatus'] }}</p>
                    <button class="button modify" onclick="location.href=''">完成訂單</button>
                    <button class="button remove">取消訂單</button>
                </div>
                {% endfor %}

            </div>
        </div>

        <div id="finished" class="content hide">
            <!--書籍篩選: 已完成-->
            {% for book in datas_finished %}
            <div class="item">
                <div class="image-change">
                    <img src="../static/uploads/{{ book['B_BookPic'] }}" alt="Image">
                </div>
                <p>書名：{{ book['B_BookName'] }}</p>
                <p class="status">狀態：{{ book['B_SaleStatus'] }}</p>

                <!--已完成訂單：評分功能-->
                <form action="/do_user_information_buyer_rating/{{ book['B_BookID'] }}" method="POST">
                    <ul class="comment" size="20" name="O_BuyerRating">
                        <li value="1" onclick="setRatingValue(1)">☆</li>
                        <li value="2" onclick="setRatingValue(2)">☆</li>
                        <li value="3" onclick="setRatingValue(3)">☆</li>
                        <li value="4" onclick="setRatingValue(4)">☆</li>
                        <li value="5" onclick="setRatingValue(5)">☆</li>
                    </ul>
                    <input type="hidden" name="O_BuyerRating" id="ratingValueInput" value="{{ book['O_BuyerRating'] }}">
                    
                    <button id="editBtn" type="submit" name="submit">評價</button>
                </form>
            </div>
            {% endfor %}

        </div>
    </div>

    <script>
        //儲存評分的值
        function setRatingValue(value) {
            document.getElementById("ratingValueInput").value = value;
        }
    </script>



</body>
</html>
