<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user_information_sellerpage_styles.css">
    <title>Custom Layout</title>
</head>
<body>
    <div class="container">
        <button class="new-button" onclick="location.href='/book_create'">+NEW</button>
    </div>
    <div class="border">

        {% for book in datas %}
        <div class="item">
            <div class="image-change">
                <img src="../static/uploads/{{ book['B_BookPic'] }}" alt="Image">
            </div>
            <p>書名：{{ book['B_BookName'] }}</p>
            <p class="status">狀態：已上架</p>
            <button class="button modify" onclick="location.href='/book_update/{{ book['B_BookID'] }}'">修改</button>
            <button class="button remove">下架</button>
        </div>
        {% endfor %}

    </div>
</body>
</html>
