<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/user_information_styles.css">
  <title>修改個人資料</title>
</head>
<body>
  {% block content %}<!--複製這行 header-->

  <form action="/do_user_information_profile_update" method="POST" enctype="multipart/form-data">
    <div class="container">
      <div class="left">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNsNUtiv-TIeCX5mg_GVqFikTo8M4pM_IrrC8y1WV9&s" alt="個人頭像" class="profile-image">
        <p>信用積分：{{ account['A_CreditPoint'] }} （共 {{ account['A_TradeCount'] }} 筆交易）<!--這邊替換位置--></p>
      </div>
      <div class="right">
        <p>
          暱稱：<input type="text" name="A_Nickname" value="{{ account['A_Nickname'] }}" required><!--這邊替換位置-->
        </p>
        <p>
          學號：<input type="text" name = "A_StuID" value="{{ account['A_StuID'] }}" readonly><!--這邊替換位置-->
        </p>
        <p>
          常用信箱：<input type="text" name="A_Email" value="{{ account['A_Email'] }}" required><!--這邊替換位置-->
        </p>
        <p>
          舊密碼：<input type="password" name="A_Password_old" required><!--這邊替換位置-->
        </p>
        <p>
          新密碼：<input type="password" name="A_Password_new" required><!--這邊替換位置-->
        </p>
        <p>科系：
          <select name="A_Major">
            <option value="{{ account['A_Major'] }}">{{ account['A_Major'] }}</option>

            <optgroup label="文學院">
              <option value="中國文學系">中國文學系</option>
              <option value="歷史學系">歷史學系</option>
              <option value="哲學系">哲學系</option>
            </optgroup>
            <optgroup label="藝術學院">
              <option value="音樂學系">音樂學系</option>
              <option value="應用美術學系">應用美術學系</option>
              <option value="景觀設計學系">景觀設計學系</option>
            </optgroup>
            <optgroup label="傳播學院">
              <option value="影像傳播學系">影像傳播學系</option>
              <option value="新聞傳播學系">新聞傳播學系</option>
              <option value="廣告傳播學系">廣告傳播學系</option>
            </optgroup>
            <optgroup label="教育學院">
              <option value="體育學系">體育學系</option>
              <option value="圖書資訊學系">圖書資訊學系</option>
            </optgroup>
            <optgroup label="醫學院">
              <option value="醫學系">醫學系</option>
              <option value="護理學系">護理學系</option>
              <option value="公共衛生學系">公共衛生學系</option>
              <option value="臨床心理學系">臨床心理學系</option>
              <option value="職能治療學系">職能治療學系</option>
              <option value="呼吸治療學系">呼吸治療學系</option>
            </optgroup>
            <optgroup label="理工學院">
              <option value="數學系">數學系</option>
              <option value="物理學系">物理學系</option>
              <option value="化學系">化學系</option>
              <option value="生命科學系">生命科學系</option>
              <option value="資訊工程學系">資訊工程學系</option>
              <option value="電機工程學系">電機工程學系</option>
            </optgroup>
            <optgroup label="外國語文學院">
              <option value="英國語文學系">英國語文學系</option>
              <option value="德語語文學系">德語語文學系</option>
              <option value="法國語文學系">法國語文學系</option>
              <option value="西班牙語文學系">西班牙語文學系</option>
              <option value="日本語文學系">日本語文學系</option>
              <option value="義大利語文學系">義大利語文學系</option>
            </optgroup>
            <optgroup label="民生學院">
              <option value="兒童與家庭學系">兒童與家庭學系</option>
              <option value="餐旅管理學系">餐旅管理學系</option>
              <option value="食品科學系">食品科學系</option>
              <option value="營養科學系">營養科學系</option>
            </optgroup>
            <optgroup label="法律學院">
              <option value="法律學系">法律學系</option>
              <option value="財經法律學系">財經法律學系</option>
              <option value="學士後法律學系">學士後法律學系</option>
            </optgroup>
            <optgroup label="社會科學院">
              <option value="社會學系、所">社會學系、所</option>
              <option value="社會工作學系、所">社會工作學系、所</option>
              <option value="經濟學系、所">經濟學系、所</option>
              <option value="宗教學系、所">宗教學系、所</option>
              <option value="心理學系、所">心理學系、所</option>
            </optgroup>
            <optgroup label="管理學院">
              <option value="企業管理學系">企業管理學系</option>
              <option value="會計學系">會計學系</option>
              <option value="統計資訊學系">統計資訊學系</option>
              <option value="金融與國際企業學系">金融與國際企業學系</option>
              <option value="資訊管理學系">資訊管理學系</option>
            </optgroup>
            <optgroup label="織品服裝學院">
              <option value="織品服裝學系">織品服裝學系</option>
            </optgroup>
            <optgroup label="進修部">
              <option value="中國文學系">中國文學系</option>
              <option value="歷史學系">歷史學系</option>
              <option value="哲學系">哲學系</option>
              <option value="應用美術學系">應用美術學系</option>
              <option value="圖書資訊學系">圖書資訊學系</option>
              <option value="英國語文學系">英國語文學系</option>
              <option value="日本語文學系">日本語文學系</option>
              <option value="餐旅管理學系">餐旅管理學系</option>
              <option value="法律學系">法律學系</option>
              <option value="經濟學系">經濟學系</option>
              <option value="宗教學系">宗教學系</option>
            </optgroup>
          </select>
          <!--這邊替換位置-->
        </p>
        <p>
          生日：<input type="date" name="A_BirthDate" value="{{ account['A_BirthDate'] }}" required><!--這邊替換位置-->
        </p>
        <p>
          <input type="submit" name="submit" value="確認更改">
        </p>
      </div>
    </div>
  </form>

  {% endblock %}<!--複製這行 header-->
</body>
</html>
