<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>個人資料頁面</title>
</head>
<body>
  <div class="container">
    <div class="left">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNsNUtiv-TIeCX5mg_GVqFikTo8M4pM_IrrC8y1WV9&s" alt="個人頭像" class="profile-image">
      <button class="button">查詢訂單</button>
    </div>
    <div class="right">
      <button class="button">查詢訂單</button>
      <button class="button">信用積分</button>
      <button class="button">交易紀錄</button>
      <button class="button" onclick="location.href='/user_information_sellerpage'">我的賣場</button>
      <button class="button">問題回報</button>
      <button class="button">Q&A</button>
    </div>
  </div>
</body>
</html>
